body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

.logo{
  left:0;
  position: absolute;
  height: 100px;
  margin: 30px 0px 0px 80px;
  filter: saturate(0);
  opacity: 0.7;
  cursor: pointer;
  transition: opacity linear .2s;
}
.logo:hover{
  opacity: 1;
}

.favorites{
  color: rgb(32, 26, 29);
  position: absolute;
  top: -10px;
  right: 240px;
  font-size: 36px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  cursor: pointer;
  padding-bottom: 5px;
  transition: .2s ease-in-out;
}
.favorites:hover{
  color: rgb(63, 52, 52);
  border-bottom: 5px solid rgb(63, 52, 52);
}


header {
  background-color: rgb(236, 6, 56);
  height: 150px;
  text-align: center;
  position: fixed;
  top:0;
  width: 100%;
  z-index: 1;
  border-bottom: 3px solid black;
}

.mainTitle {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: rgb(32, 26, 29);
  font-size: 46px;
  margin: 0 auto;
  align-items: center;
  line-height: 150px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
